body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
    font-size: 40px;
}




.box{ 
    background-color: rgb(233, 167, 86);
height: 600px;
width: 700px;
}
.font{ 
    font-size:30px;
}

